@font-face {
    font-family: "Afacad_Flux";
    src: url(fonts/Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf);
}
@font-face {font-family: Agdasima; src: url(fonts/Agdasima/Agdasima-Regular.ttf);}
@font-face {font-family: "Modern Antiqua"; src: url(fonts/Modern_Antiqua/ModernAntiqua-Regular.ttf);}
@font-face {font-family: Quicksand; src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);}



/*Universal Styling*/
.afacad {font-family: "Afacad_Flux";}
.agdasima {font-family: "Agdasima"; font-size: larger;}
.antiqua {font-family: "Modern Antiqua";}
.quicksand {font-family: "quicksand";}
.gray { background-color: #778899;}
.green {background-color: #2e8b57;}
.pink {background-color: #d87093;}
body {
    padding: 0px 40px;
}
article {
    border: solid gray 3px;
    box-shadow: darkblue 1px 1px 4px;
    padding: 0 10px;
    margin: 10px 0;
    overflow: hidden;
    padding-bottom: 20px;
}


/*Colors*/
div {
    text-align:center;
}
.colors {
    height: fit-content;
    display: grid;
    grid-template-rows: 5(1fr, repeat);
}
.color {
    transition: .01s;
    z-index: 1
}
.color:hover {
    scale: 110%;
    transition-duration: .5s;
    border-radius: 20px;
    z-index: 2;
}
.blue {
    background-color: #00008b;
    color: white;
}


/*fonts*/
.fonts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.font {
    text-align: left;
    width: 400px;
    height: 200px;
}


/*Text Styles*/