



/*Universal Styling*/
.gray { background-color: #778899;}
.blue {background-color: #00008b;}
.green {background-color: #2e8b57;}
.pink {background-color: #d87093;}
body {
    padding: 0px 40px;
    background: rgb(238, 152, 152);
}
article {
    border: solid white 3px;
    box-shadow: darkblue 1px 1px 4px;
    padding: 0 10px;
    margin: 10px 0;
    background-color: rgb(224, 159, 159);
}
h1 {
    color: white;
    text-shadow: darkblue 1px 1px 4px;
}


/*Colors*/
div {
    text-align:center;
    color: white;
}
.color {
    transition: 1s;
}
.color:hover {
    position: relative;
    scale: 120%;
    transition-duration: 1s;
    border-radius: 20px;
    padding: 10px;
}